### Elisp ###
# Compiled
*.elc

# Packaging
.cask

# Backup files
*~

# Undo-tree save-files
*.~undo-tree

### Emacs ###
# -*- mode: gitignore; -*-
\#*\#
/.emacs.desktop
/.emacs.desktop.lock
auto-save-list
tramp
.\#*
bookmarks

# Org-mode
.org-id-locations
*_archive

# flymake-mode
*_flymake.*

# eshell files
/eshell/history
/eshell/lastdir

# elpa packages
/elpa/

# elpy folder
/elpy/

# Projectile
projectile-bookmarks.eld

# recent files
recentf

# transient
/transient/

# reftex files
*.rel

# AUCTeX auto folder
/auto/

# cask packages
.cask/
dist/

# Flycheck
flycheck_*.el

# server auth directory
/server/

# projectiles files
.projectile

# directory configuration
.dir-locals.el

# network security
/network-security.data

# custom
custom.el

# smex
smex-items

# anaconda-mode
anaconda-mode/

# emoji
emojis/

# straight
straight/

# precsient
places
var/

# lsp
.lsp-session*

eln-cache/
history
projects